.wave-btn {
    background-color: #ffffff;
    color: #ec132e;
    background-image: url('../../image/apWave.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position-y: 5rem;
    border: 1px solid #ec132e;
    transition: 0.4s;
    font-size: 1.6rem;
}

.wave-btn:hover {
    color: #ffffff;
    background-position-y: -50rem;
    background-size: 100% 400%;
}